body{
    width: 1000px;
    margin: auto;
}


/* header  */
.logo{
    width: 80px;
    margin-top: 18px;
}

header{
    background: url("../img/pattern.png") rgb(11, 176, 236);
    background-size: contain;
    width: 100%;
    height: 40px;
}

/* main  */
